.espacio {
	border: 1px red solid;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url('img/fondo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom 50px right 100px;
}

.links {
	font-weight: 400;
	font-size: 1.2em;
}

.eventos .nav-link.active {
	font-weight: 600;
	color: #501830 !important;
}

.eventos .nav-link {
	font-weight: 400;
	color: #d7317c !important;
}

.navbar {
	height: 7%;
	background-color: #f2f2f2 !important;
}

/* .collapse {
	border: 1px solid red;
} */

.texto-parrafo {
	font-size: 13px;
}

.social img {
	width: 5%;
}

.social_icons a:hover {
	color: blue;
}

.footer-text {
	font-weight: 600;
	color: black;
}
