@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,900&display=swap');

$font-family-base: 'Source Sans Pro';

@import '../node_modules/bootstrap/scss/bootstrap';

.space {
	height: 50px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #707070;
}

.libelula {
	background-image: url('../img/fondo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom 50px right 70px;
}

.angel {
	background-image: none;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: bottom 0 right 0px;
}

.muda {
	background-image: none;
	background-size: 15%;
	background-repeat: no-repeat;
	background-position: bottom 50px right 200px;
}

.img-servicios{
	background-image: url('../img/servicios/promo-servicios.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

.img-espacios{
	background-image: url('../img/espacios/promo-espacios.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

.promo-espacios{
	height: 40px;
}

.servicios-tituto{
	font-size: 5rem;
	line-height:0.7;
}

.logo {
	width: 100px;
}

.c-orange{
	color: #FF9000 ;
}

.links {
	font-weight: 400;
	font-size: 1.2em;
}

.eventos .nav-link.active {
	font-weight: 600;
	color: #501830 !important;
}

.eventos .nav-link {
	font-weight: 400;
	color: #d7317c !important;
}

.texto-parrafo {
	font-size: 1.2rem;
}

.subtitulos{
	font-size: 2rem;
}

.texto-parrafo-small {
	font-size: 1.1rem;
}

.texto-espacios{
	font-size: 2rem;
	font-weight: 900;
}

.texto-espacios-small{
	font-size: 1.4rem;
	font-weight: 900;
}

.texto-header{
	font-size: 0.75rem;
}

.img-complejo{
	min-width: 18%;
}

.icono-servicios{
	width: 150px;
}

.social img {
	width: 50px;
}

.social_icons a:hover {
	color: blue;
}

.footer-text {
	font-weight: 600;
	color: black;
}

.modal {
	animation: modal 3s 1s forwards;
	visibility: hidden;
	opacity: 0;
}

.flota {
	float: right;
}
/* PANTALLAS */

@media (max-width: 575.98px) {
	.navbar-brand {
		margin-right: 0 !important;
		padding-top: 0 !important;
	}

	.navbar {
		padding: 2% 0;
		vertical-align: middle;
		background-color: #ebe7e7 !important;
	}

	.margen {
		padding: 0 3%;
		font-size: 12px !important;
	}

	.logo {
		width: 60px !important;
	}

	.alto-slider img {
		width: auto !important;
		height: 300px !important;
	}

	.footer-text {
		font-size: 13px;
	}

	.eventos > .nav-link {
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.libelula {
		background-image: url('../img/fondo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom 150px left 50px;
	}

	.texto-parrafo {
		font-size: 1rem;
	}
	
	.subtitulos{
		font-size: 1.2rem;
	}
	
	.texto-parrafo-small {
		font-size: 1.1rem;
	}

	.img-complejo{
		max-width: 50%;
		margin: 0 auto;
	}

	.img-servicios, .img-espacios{
		height: 300px;
	}

}

@media (min-width: 576px) {
	.navbar-brand {
		margin-right: 10px !important;
		padding-top: 8% !important;
	}

	.navbar {
		height: 50px !important;
	}

	.margen {
		padding: 0 5%;
		font-size: 12px !important;
	}

	.logo {
		width: 60px !important;
	}

	.img-servicios, .img-espacios{
		height: 700px;
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		margin-right: 30px !important;
		padding-top: 7% !important;
	}

	.navbar {
		height: 50px !important;
		margin-bottom: 5%;
	}

	.margen {
		padding: 0 5%;
		font-size: 15px !important;
	}

	.logo {
		width: 75px !important;
	}

	.libelula {
		background-image: url('../img/fondo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom 50px left 275px;
	}

	.img-servicios, .img-espacios{
		height: 700px;
	}
}

@media (min-width: 992px) and (max-width: 1199.99px) {
	.navbar-brand {
		margin-right: 30px !important;
		padding-top: 5% !important;
	}
	.navbar {
		height: 70px !important;
		margin-bottom: 3%;
	}
	.margen {
		padding: 0 5%;
		font-size: 20px !important;
	}

	.logo {
		width: 100px !important;
	}

	.libelula {
		background-image: url('../img/fondo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom 50px left 400px;
	}

	.img-servicios, .img-espacios{
		height: 400px;
	}

	.servicios-tituto{
		font-size: 10rem;
	}
}

@media (min-width: 1200px) and (max-width: 1399.99px) {
	.navbar-brand {
		margin-right: 6% !important;
		padding-top: 5% !important;
	}
	.navbar {
		height: 70px !important;
		margin-bottom: 2%;
	}
	.margen {
		padding: 0 7% !important;
		font-size: 20px !important;
	}

	.logo {
		width: 100px !important;
	}

	.libelula {
		background-image: url('../img/fondo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom 50px left 500px;
	}

	.img-servicios, .img-espacios{
		height: 500px;
	}

	.servicios-tituto{
		font-size: 13rem;
		line-height:0.7;
	}
}

@media (min-width: 1400px) {
	.navbar-brand {
		margin-right: 6% !important;
		padding-top: 5% !important;
	}
	.navbar {
		height: 90px !important;
		margin-bottom: 2%;
	}

	.angel, .muda{
		margin-bottom: 0% !important;
	}

	.margen {
		padding: 0 10% !important;
		font-size: 20px !important;
	}

	.logo {
		width: 100px !important;
	}

	.fs-6 {
		font-size: 12px;
	}

	.libelula {
		background-image: url('../img/fondo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom 50px left 900px;
	}

	.img-servicios, .img-espacios{
		height: 700px;
	}

	.servicios-tituto{
		font-size: 20rem;
		line-height:0.7;
	}

	.angel {
		background-image: url('../img/servicios/angel.png');
	}

	.muda {
		background-image: url('../img/muda.png');
	}

	.texto-espacios{
		font-size: 2rem;
		font-weight: 900;
	}
	
	.texto-espacios-small{
		font-size: 1.4rem;
		font-weight: 900;
	}
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}
